[package]
name = "warframe"
version = "6.2.0"
edition = "2021"
description = "An async crate to wrap Warframe's Worldstate API."
readme = "./README.md"
documentation = "https://docs.rs/warframe"
homepage = "https://docs.rs/warframe"
repository = "https://github.com/Mettwasser/warframe.rs"
license = "MIT"


[features]
default = ["worldstate"]

full = ["worldstate_full", "market_full", "profile"]
worldstate = []
multilangual = ["worldstate"]
worldstate_listeners = ["worldstate"]
worldstate_full = ["worldstate", "multilangual", "worldstate_listeners"]
market = []
market_cache = ["market", "dep:moka"]
market_full = ["market", "market_cache"]
profile = []

[dependencies]
tokio = { version = "1.39.3", features = ["full"] }
reqwest = { version = "0.12.7", features = ["json"] }
chrono = { version = "0.4.38", features = ["serde", "clock"] }
serde = { version = "1.0.209", features = ["derive"] }
serde_json = { version = "1.0.127" }
serde_repr = "0.1.19"
futures = "0.3.30"
log = "0.4.22"
env_logger = "0.11.5"
thiserror = "1.0.63"
moka = { version = "0.12.8", optional = true, features = ["future"] }
urlencoding = "2.1.3"
derive_more = { version = "1.0.0", features = ["full"] }
serde_with = "3.11.0"

# TODO: use this lint in V7
# [lints.clippy]
# pedantic = "warn"
